<nav class="navbar navbar-expand-md border-bottom sticky-top " id="nav1" style="background-color: black;">
    <div class="container-fluid" >
      <a class="navbar-brand" href="#" style="font-weight: 600;margin-left: 2rem;"><i src="i1.png"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="#" style="margin-left: 15rem;">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" >Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" >About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" style="margin-right: 5rem;font-weight: 500;">Contact</a>
          </li>
          
          
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" style="border-radius: 10px;height:2rem;margin-top: 2px;">
          <button class="btn " type="submit" style="margin-right: 3rem;"><i class="fa-solid fa-magnifying-glass" style="color: white;"></i></button>
        </form>
      </div>
    </div>
  </nav>